<!DOCTYPE html>
<html>
<head>
	<title>Bootstrap Custom User Login Template</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>
	<%= render "/layouts/user_nav" %>
	<% if flash[:notice] || flash[:alert]%>
	  <%= flash[:notice] %>
	  <%= flash[:alert] %>  
	<% end %>
</body>
</html>
